body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

label.form {
    cursor: pointer;
}

span.required {
    color: red;
}

small.text-error {
    color: #ff0000ba;
}

table.detail-view {
    text-align: left;
}
