body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

label.form {
    cursor: pointer;
}

span.required {
    color: red;
}

small.text-error {
    color: #ff0000ba;
}

table.detail-view {
    text-align: left;
}

#navbarsExampleDefault {
    justify-content: flex-end;
}

div.error {
    font-size: 200px;
    box-shadow: black 0px 0px 15px;
}

div.min-error {
    margin-top: 10px;
    box-shadow: black 0px 0px 15px;
    font-size: 50px;
}

div.contact-photo {
    height: 200px;
}

a.contact-show:hover {
    background-color: #b1dfbb;
}

a.contact-edit:hover {
    background-color: #9fcdff;
}

a.contact-delete:hover {
    background-color: #f5c6cb;
}

div.card-body div.btn-group {
    margin: 0 auto;
}
